# Test file
/test.py
backend/database_utils/sql/test.sql
tests/
# Config file

__pycache__/
.env
# Virtual environment
.venv/
.spyproject/
.vs/
backend/database_utils/sql/test.sql
.vscode/settings.json
