# Test file
/test.py
backend/database_utils/sql/test.sql
tests/
# Config file
.env
__pycache__/

# Virtual environment
.venv/
.spyproject/
.vs/
backend/database_utils/sql/test.sql
.vscode/settings.json
